#{extends 'main.html' /}
#{set title:'Formulário' /}

<h1>Formulário para as cadastro de imóveis!!</h1>

<form action = "/imoveis/salvar">

	<div class = "mb-3">
	<label class = "form-label"> Qual é o bairro do seu imóvel? </label>
	<input class = "form-control" type = "text" name = "i.bairro" />
	</div>
	
	<div class = "mb-3">
	<label class = "form-label"> Quantos cômodos tem? </label>
	<input class = "form-control" type = "number" name = "i.quantidadeComodos" />
	</div>
	
	<div class = "mb-3">
	<label class = "form-label"> Quanto metros tem de área interna? </label>
	<input class = "form-control" type = "number" name = "i.areaInterna" />
	</div> 

	<div class = "mb-3">
	<label class = "form-label"> Quantos metros tem de área externa? </label>
	<input class = "form-control" type = "number" name = "i.areaExterna"/> 
	</div>
	
	<div class="mb-3">
	    <label class="form-label">Tipo de Imóvel:</label> 
	    <select class="form-select" name="t.TipoImovel.id">
	        #{list items:TipoImovel, as:'t'}
	            <option value="${t.id}" ${t.id==t?.TipoImovel?.id?'selected' : ''}>
	                ${t.descricao}
	            </option>
	        #{/list}
	    </select>
	</div>

	
	<input class = "btn btn-primary" type = "submit"/>
	
</form>	